.text-wrapper {
    display: flex;
}

body {
    margin: 0;
    background-color: #EBE7DC;
    font-family: 'Wix Madefor Display', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.display-1 {
    font-family: 'Wix Madefor Display', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px 8px 24px;
    background-color: #EBE7DC;
    position: fixed;
    width: 100%;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    font-family: 'Wix Madefor Display', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

ul {
    text-align: right;
    list-style-type: none;
}

li a {
    text-decoration: none;
    padding: 16px;
    color: black;
    font-size: 24px;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.intro-container {
    background-color: #EBE7DC;
}

.intro {
    text-align: left;
    /* use the following code line to centre align items -> 'margin: auto;'*/
    width: 1200px;
    padding: 180px 10%;


}

.sub-heading {
    font-family: 'Wix Madefor Display', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 28px;
    padding: 12px 24px;
    background-color: #8a2be2;
    border-color: #8a2be2;
}

.btn-primary:hover {
    background-color: #4e0f88;
    border-color: #4e0f88;
}

.whytechheader {
    padding: 0px 24px 40px 24px;
    text-align: center;
    color: #F0F0F0;
}

h2 {
    font-family: 'Wix Madefor Display', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

.whytech {
    background-color: black;
    text-align: center;
    padding: 80px 60px;
}

h4 {
    font-family: 'Wix Madefor Display', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.row {
    text-align: center;
    padding: 0px 40px 60px 40px;
    
}

.container {
    width: 60%;
    
    
}

.team {
    text-align: center;
    padding: 80px 60px;
}

.teamheader {
    padding: 0px 24px 40px 24px;
    text-align: center;
}

/*JE*/

.intro-container-3{
    background-color: #EBE7DC;
    display: flex;
    justify-content: space-between;
}

.intro-3{
    background-color: #EBE7DC;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 180px 10%;
}

.display-3 {
    font-family: 'Wix Madefor Display', 'Work Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
.sub-heading-3 {
    font-family: 'Wix Madefor Display', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

/* Bio sections */

.bio-section {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

#bio1,
#bio3 {
    background-color: white;
    color: black;
}

#bio2{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row-reverse; /* Reverse the direction of flex items */
}

.bio-section div {
    flex-grow: 1; /* Allow the content to expand and fill the remaining space */
    padding: 100px 0 100px 0;
}

#bio2 div{
    order: 1; /* Place the content as the first item in the flex container */
}

.bio-heading{
    font-family: 'Wix Madefor Display', 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.bio-subheading{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.bio-section p {
    font-size: 16px;
    line-height: 33px;
}

#bio2 h1,
#bio2 h2,
#bio2 p{
    text-align: right; /* Align the heading and paragraph to the right */
}

.bio-image {
    border-radius: 50%; /* Makes the image circular */
    width: 200px;
    height: 200px;
    object-fit: cover; /* New addition: Ensures the image covers the whole area of the div, cropping if necessary */
    margin-right: 20px; /* Add right margin to create space */
    margin-top: 100px;
}

#bio2 img{
    order: 1; /* Place the image as the second item in the flex container */
    margin-left: 20px; 
}









/* Style the footer section */
footer {
    padding: 20px 0 0 0;
    text-align: center;
    background-color: white;
    color: black;
}
